<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--mybatis配置文件-->
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="LOG4J2"/>
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.djtu.settings.pojo"/>
        <package name="com.djtu.dorm.pojo"/>
        <package name="com.djtu.permission.pojo"/>
        <package name="com.djtu.dictionary.pojo"/>
        <package name="com.djtu.feedback.pojo"/>
        <package name="com.djtu.building.pojo"/>
    </typeAliases>

</configuration>
